* {
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(200deg, #008080 30%,#307D7E 70%);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 59px;
    font-weight: 'bold';
    font-family: Arial Black;
    color: #FFDB58;
    text-shadow: 3px 3px 2px white;
    text-align: center;
    box-shadow: rgb(10, 10, 10);
    border-radius: 20px;
  }
  
  
  .middleHead{
    font-size: 25px;
    font-weight: 'bold';
    font-family: Arial;
    color:#5EFB6E;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .middleHead2{
    margin-top: 25px;
    font-size: 25px;
    font-weight: 'bold';
    font-family: Arial;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .middleHead3{
    margin-top: 25px;
    font-size: 25px;
    font-weight: 'bold';
    font-family: Arial;
    color:#2B1B17;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text1
  {
     width:1058px;
     height:59px;
     border-radius:10px;
     margin-left:89px;
     margin-top:40px;
     border:2px outset #33D1FF;
     margin-bottom:25px;
     font-family: Verdana;
     font-size: 27px;
     font-weight: bold;
     color: rgb(65, 38, 38);
     padding-left:20px ;
  }
  .text1:hover{
    background-color: rgb(231, 210, 210) ;
    cursor: context-menu; 
  }
  .text1::placeholder{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
    display:inline-block;
  }
  .pencil{
    height: 59px;
    width: 68px;
    border-radius:7px;
    padding-bottom: 18px;
    vertical-align: -5px;
    margin-left: 6px;
  }
  .pencil:hover {
    background-color: white ; 
    color: #069c0b;
    cursor: pointer;
  }
  .list{
    text-align: start;
    display: inline-block;
    width:1086px;
    height:58px;
    font-size:32px;
    font-family:Verdana;
    text-shadow: 3px 3px 3px black;
    color:white;
    padding-left:25px;
    border:2px outset #380707;
    background-image: linear-gradient(200deg, #09a0a0 30%, #08c4c1  80%);
    border-radius:15px;
    margin-top:17px;
    margin-left:113px;
    margin-bottom:6px;
    display:inline-block;
    }
    .delete-icon{
      margin-left:1009px;
      margin-top: -46px;
      color: rgb(53, 46, 46);
      cursor: pointer;
      font-size:22px;
      font-family:Arial black;
      height:10px;
    }
    .delete-icon:hover{
        color: rgb(238, 14, 14);
    }
    .input[type="text"]{
      font-size: 24px;
    }
    .errorm{
      font-weight: bold;
      padding-left:3px ;
      margin-top: -19px;
      width:370px;
      height:23px;
      margin-left: 100px;
      color:rgb(241, 241, 12);
    }
  /* Transition */
  /*
  .select:hover::after {
    transform: scale(1.5);
  }*/
  .fapenciledit{
    background-color:  #09a0a0 ;
    color:#FEFCFF ;
    margin-left: 952px;
    margin-top: -11px;
    font-size: 33px;
  }
  .fapenciledit:hover{
    color: rgb(53, 46, 46);
}
.fapenciledit2{
  background-color: white;
  color: olivedrab;
  margin-left: 955px;
  margin-top: -13px;
  font-size: 37px;
}
.fapenciledit2:hover{
  color: rgb(53, 46, 46);;
}
  .editList{
    width: 43px;
    margin-top: -5px;
    margin-left: 7px;
  }
  .editList2{
    width: 43px;
    margin-top: -41px;
    margin-left: 196px;
  }
  .textDis{
    width: 1086px;
    height: 58px;
    border-radius: 15px;
    margin-top: 17px;
    margin-left:113px;
    margin-bottom: 6px;
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    color: rgb(65, 38, 38);
    padding-left: 20px;
  }

  
.listiiiuiuiuiu {
    text-align: start;
    display: inline-block;
    width: 1086px;
    height: 58px;
    font-size: 32px;
    font-family: Verdana;
    color: white;
    padding-left: 25px;
    border: 2px outset #380707;
    background-image: linear-gradient(200deg, #09a0a0 30%, #08c4c1 80%);
    border-radius: 15px;
    margin-top: 17px;
    margin-left: 113px;
    margin-bottom: 6px;
    display: inline-block;
}